<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #212529;">
    <div class="container">
        <a class="navbar-brand" href="#">Logo</a>
        <div class="navbar-nav mx-auto">
            <button class="btn btn-link text-white">Inicio</button>
            <button class="btn btn-link text-white">Acerca de</button>
            <button class="btn btn-link text-white">Servicios</button>
            <button class="btn btn-link text-white">Contacto</button>
        </div>
        <div class="d-flex">
            <button class="btn btn-outline-light me-2">Sign Up</button>
            <button class="btn btn-outline-light">Login</button>
        </div>
    </div>
</nav>
